@using Stratis.FederatedSidechains.AdminDashboard.Settings

@inject DefaultEndpointsSettings defaultEndpointsSettings;

@model DashboardModel
@{
    bool fiftyKOnlyFeature = this.defaultEndpointsSettings.SidechainNodeType == NodeTypes.FiftyK;
}

<div class="col-lg-6 col-12">
    <div class="card mb-4">
        <div class="card-body">
            <div class="pb-3 mb-3">
                <div class="mr-auto d-inline-block">
                    <h3>@Model.MainChainNodeHeading</h3>
                </div>

                @if (Model.MainchainNode != null)
                {
                    <ul class="list-inline float-right d-flex align-items-center">
                        <li class="list-inline-item">
                            <span class="badge badge-@(Model.MainchainNode.SyncingStatus >= 100 ? "success" : "warning")">
                                <i class="material-icons">sync</i> @(Model.MainchainNode.SyncingStatus >= 100 ? "Synced" : "Syncing") @Model.MainchainNode.SyncingStatus.ToString("N2")%
                            </span>
                        </li>
                    </ul>
                }
            </div>

            @if (Model.MainchainNode != null)
            {
                <div class="card-text">
                    <ul class="list-inline mb-0 row">
                        <li class="col-12 col-xl-6">
                            <ul class="list-inline">
                                <li class="list-inline-item"><strong>Swagger :</strong></li>
                                <li class="list-inline-item"><a target="_blank" href="@Model.MainchainNode.SwaggerUrl">@Model.MainchainNode.SwaggerUrl</a></li>
                            </ul>
                        </li>
                        <li class="col-12 col-xl-6">
                            <ul class="list-inline">
                                <li class="list-inline-item"><strong>Uptime :</strong></li>
                                <li class="list-inline-item text-muted">@Model.MainchainNode.Uptime</li>
                            </ul>
                        </li>
                        <li class="col-12 col-xl-6">
                            <ul class="list-inline">
                                <li class="list-inline-item"><strong>Block height :</strong></li>
                                <li class="list-inline-item">@Model.MainchainNode.BlockHeight</li>
                            </ul>
                        </li>
                        <li class="col-12 col-xl-6">
                            <ul class="list-inline">
                                <li class="list-inline-item"><strong>Mempool size :</strong></li>
                                <li class="list-inline-item text-muted">@Model.MainchainNode.MempoolSize</li>
                            </ul>
                        </li>
                        <li class="col-12 col-xl-6">
                            <ul class="list-inline d-flex align-itmes-center">
                                <li class="list-inline-item"><strong>Block hash :</strong></li>
                                <li class="list-inline-item text-truncate" style="max-width: 150px;">
                                    <a href="https://chainz.cryptoid.info/strax/block.dws?@(Model.MainchainNode.BlockHash).htm" id="stratisBlockHash" target="_blank">@Model.MainchainNode.BlockHash</a>
                                </li>
                                <li class="list-inline-item"><i role="copy" data-id="stratisBlockHash" data-message="Block hash successfully copied to clipboard" class="far fa-copy"></i></li>
                            </ul>
                        </li>
                        <li class="col-12 col-xl-6">
                            <ul class="list-inline">
                                <li class="list-inline-item"><strong>Header height :</strong></li>
                                <li class="list-inline-item">@Model.MainchainNode.HeaderHeight</li>
                            </ul>
                        </li>
                        <li class="col-12 col-xl-6">
                            <ul class="list-inline">
                                <li class="list-inline-item"><strong>Address Indexer height :</strong></li>
                                <li class="list-inline-item">@Model.MainchainNode.AddressIndexer</li>
                            </ul>
                        </li>
                        @if (fiftyKOnlyFeature)
                        {
                            <li class="col-12 col-xl-12">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><strong>Federation Wallet balance :</strong></li>
                                    <li class="list-inline-item text-green">Confirmed: @Model.MainchainNode.ConfirmedBalanceFed.ToString("N8") @DashboardModel.MainchainCoinTicker</li>
                                    <li class="list-inline-item text-muted">/</li>
                                    <li class="list-inline-item text-muted">Unconfirmed: @Model.MainchainNode.UnconfirmedBalanceFed.ToString("N8") @DashboardModel.MainchainCoinTicker</li>
                                </ul>
                            </li>
                        }
                        <li class="col-12 col-xl-6">
                            <ul class="list-inline">
                                <li class="list-inline-item"><strong>Total Peers / In / Out:</strong></li>
                                <li class="list-inline-item">@Model.MainchainNode.Peers.Count  /  @Model.MainchainNode.Peers.Where(p => p.Type == "inbound").Count()  /  @Model.MainchainNode.Peers.Where(p => p.Type == "outbound").Count() </li>
                            </ul>
                        </li>
                    </ul>
                    <label class="mt-3"><strong>Peers :</strong></label>
                    <table class="table table-sm table-striped" id="stratis-peers">
                        <thead>
                            <tr>
                                <th>Endpoint</th>
                                <th>Type</th>
                                <th>Height</th>
                                <th>Version</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var peer in Model.MainchainNode.Peers)
                            {
                                <tr>
                                    <td class="text-left">@peer.Endpoint</td>
                                    <td class="text-center">@peer.Type</td>
                                    <td class="text-center">height:@peer.Height</td>
                                    <td style="width: 250px;" nowrap class="text-left">agent:@peer.Version</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @if (fiftyKOnlyFeature)
                    {
                        <label><strong>Multisig Federation members :</strong></label>
                        <table class="table table-sm table-striped" id="stratis-members">
                            <thead>
                                <tr>
                                    <th class="text-left">Endpoint</th>
                                    <th class="text-center">Type</th>
                                    <th class="text-center">Height</th>
                                    <th style="width: 250px;" nowrap class="text-left">Version</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var member in Model.MainchainNode.FederationMembers)
                                {
                                    <tr>
                                        <td class="text-left reveal-on-blur">@member.Endpoint</td>
                                        <td class="text-center">@member.Type</td>
                                        <td class="text-center">height:@member.Height</td>
                                        <td style="width: 250px;" nowrap class="text-left">agent:@member.Version</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            }

        </div>
    </div>

    @if (fiftyKOnlyFeature)
    {
        <div class="card mb-4">
            <div class="card-body">
                <div class="d-flex align-items-center mb-4">
                    <label class="d-flex justify-content-start">
                        <strong>Federation Wallet History <small class="text-muted">(@(((JArray)Model.MainchainNode?.History)?.Count ?? 0))</small></strong>
                    </label>
                    <span class="d-flex justify-content-end align-items-center ml-auto">
                        <a data-toggle="modal" data-target="#stratisHistory" class="btn btn-outline-primary">See all history</a>
                    </span>
                </div>
                <table class="table table-sm table-history" id="stratis-history">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col">Status</th>
                            <th class="text-center" scope="col">Destination</th>
                            <th class="text-center" scope="col">Tx ID</th>
                            <th class="text-center" scope="col">Confirmed in Block</th>
                            <th class="text-center" scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.MainchainNode.History != null)
                        {
                            foreach (dynamic transaction in ((JArray)Model.MainchainNode.History).Take(5).ToList())
                            {
                                <tr>
                                    <td class="text-center"><i class="material-icons text-green md-18">check_circle</i></td>
                                    <td class="text-center text-truncate"><code>@(transaction.withdrawal.targetAddress)</code></td>
                                    <td class="text-left text-truncate" style="max-width: 110px;"><a href="https://chainz.cryptoid.info/strax/tx.dws?@(transaction.withdrawal.id).htm" target="_blank">@transaction.withdrawal.id</a></td>
                                    <td class="text-center">@transaction.withdrawal.blockNumber</td>
                                    <td class="text-right">@(((double)transaction.withdrawal.amount / 100000000).ToString("N8")) @DashboardModel.MainchainCoinTicker</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>

<script type="text/javascript" src="~/js/mainchain_node_events.js"></script>