@using Stratis.FederatedSidechains.AdminDashboard.Models;
@using Stratis.FederatedSidechains.AdminDashboard.Settings;

@inject DefaultEndpointsSettings defaultEndpointsSettings;

@model DashboardModel

@{
    bool fiftyKOnlyFeature = this.defaultEndpointsSettings.SidechainNodeType == NodeTypes.FiftyK;
}

<div class="col-lg-6 col-12">
    <div class="card mb-4">
        <div class="card-body">
            <div class="pb-3 mb-3">
                <div class="mr-auto d-inline-block">
                    <h3>@Model.SidechainNodeHeading @ViewBag.AgentVersion</h3>
                </div>
                @if (Model.SidechainNode != null)
                {
                    <ul class="list-inline float-right d-flex align-items-center">
                        <li class="list-inline-item text-muted">
                            <span> <i class="material-icons">sync</i> <label id="lblSidechainSyncStatus"></label></span>
                        </li>
                    </ul>
                }
            </div>

            @if (Model.SidechainNode != null)
            {
                <div class="card-text">
                    <ul class="list-inline mb-0 row">
                        <li class="col-12 col-xl-6">
                            <ul class="list-inline">
                                <li class="list-inline-item"><strong>Swagger :</strong></li>
                                <li class="list-inline-item"><a target="_blank" href="@Model.SidechainNode.SwaggerUrl">@Model.SidechainNode.SwaggerUrl</a></li>
                            </ul>
                        </li>
                        <li class="col-12 col-xl-6">
                            <ul class="list-inline">
                                <li class="list-inline-item"><strong>Cirrus Mining Address :</strong></li>
                                <li class="list-inline-item text-muted">
                                    <a href="#qrcode" data-toggle="modal" role="qrcode" data-qr="" class="inherit text-muted" id="sidechainMiningAddress"><label id="lblSidechainMiningWalletAddress"></label></a>
                                    <i role="copy" data-id="sidechainMiningAddress" data-message="Cirrus Mining Address successfully copied to clipboard" class="far fa-copy">
                                    </i>
                                </li>
                            </ul>
                        </li>
                        <li class="col-12 col-xl-6">
                            <ul class="list-inline">
                                <li class="list-inline-item"><strong>Node Started :</strong></li>
                                <li class="list-inline-item">@ViewBag.NodeStartedDateTime</li>
                            </ul>
                        </li>

                        <li class="col-12 col-xl-6">
                            <ul class="list-inline">
                                <li class="list-inline-item"><strong>Block height :</strong></li>
                                <li class="list-inline-item"><label id="lblSidechainNodeBlockHeight"></label></li>
                            </ul>
                        </li>
                        <li class="col-12 col-xl-6">
                            <ul class="list-inline">
                                <li class="list-inline-item"><strong>Mempool size :</strong></li>
                                <li class="list-inline-item text-muted"><label id="lblSidechainMempoolSize"></label></li>
                            </ul>
                        </li>
                        <li class="col-12 col-xl-6">
                            <ul class="list-inline d-flex align-itmes-center">
                                <li class="list-inline-item"><strong>Block hash :</strong></li>
                                <li class="list-inline-item text-truncate" style="max-width: 150px;">
                                    <a id="sidechainBlockHash" target="_blank"><label id="lblSidechainNodeHash"></label></a>
                                </li>
                                <li class="list-inline-item"><i role="copy" data-id="sidechainBlockHash" data-message="Block hash successfully copied to clipboard" class="far fa-copy"></i></li>
                            </ul>
                        </li>
                        <li class="col-12 col-xl-6">
                            <ul class="list-inline">
                                <li class="list-inline-item"><strong>Header height :</strong></li>
                                <li class="list-inline-item"><label id="lblSidechainNodeHeaderHeight"></label></li>
                            </ul>
                        </li>
                        <li class="col-12 col-xl-6">
                            <ul class="list-inline">
                                <li class="list-inline-item"><strong>Mining Status :</strong></li>
                                <li class="list-inline-item text-muted">
                                    <label id="lblSidechainMiningStatus"></label>
                                </li>
                            </ul>
                        </li>
                        <li class="col-12 col-xl-6">
                            <ul class="list-inline">
                                <li class="list-inline-item"><strong>Block Producer Hits :</strong></li>
                                <li class="list-inline-item">
                                    <div class="inline-flex"><label id="lblSidechainMinersHits"></label></div>
                                    <div class="inline-flex progress" style="width: 100px;">
                                        <div id="blockProducerHitProgressBar" role="progressbar" aria-valuemin="0" aria-valuemax="100"><label id="lblSidechainMinerHitsinPercentage"></label></div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="col-12">
                            <ul class="list-inline">
                                <li class="list-inline-item"><strong>Mining Wallet balance :</strong></li>
                                <li class="list-inline-item text-green">Confirmed:<label id="lblSidechainAmountConfirmed"></label> @DashboardModel.SidechainCoinTicker</li>
                                <li class="list-inline-item text-muted">/</li>
                                <li class="list-inline-item text-muted">Unconfirmed: <label id="lblSidechainAmountUnConfirmed"> </label> @DashboardModel.SidechainCoinTicker</li>
                            </ul>
                        </li>
                        @if (fiftyKOnlyFeature)
                        {
                            <li class="col-12">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><strong>Federation Wallet balance :</strong></li>
                                    <li class="list-inline-item text-green">Confirmed: <label id="lblSidechainFederationWalletAmountConfirmed"></label> @DashboardModel.SidechainCoinTicker</li>
                                    <li class="list-inline-item text-muted">/</li>
                                    <li class="list-inline-item text-muted">Unconfirmed: <label id="lblSidechainFederationWalletAmountUnconfirmed"></label> @DashboardModel.SidechainCoinTicker</li>
                                </ul>
                            </li>
                        }
                        <li class="col-12 col-xl-6">
                            <ul class="list-inline">
                                <li class="list-inline-item"><strong>Total Peers / In / Out:</strong></li>
                                <label id="lblSidechainTotalConnectedNode"> </label>
                                <label id="lblSidechainTotalInNode"> </label>
                                <label id="lblSidechainTotalOutNode"> </label>
                            </ul>
                        </li>
                    </ul>
                    <label class="mt-3"><strong>Peers :</strong></label>

                    <div class="row col-sm-12" id="sidechain-peerconnections">
                        <table class="table table-sm table-striped" id="sidechain-peers">
                            <thead>
                                <tr>
                                    <th class="text-left">Endpoint</th>
                                    <th class="text-center">Type</th>
                                    <th class="text-center">Height</th>
                                    <th style="width: 250px;" nowrap class="text-left">Version</th>
                                </tr>
                            </thead>
                            <tbody id="sidechain-peerconnection-data">
                            </tbody>
                        </table>
                    </div>

                    @if (fiftyKOnlyFeature)
                    {
                        <label><strong>Multisig Federation members :</strong></label>
                        <table class="table table-sm table-striped" id="sidechain-members">
                            <thead>
                                <tr>
                                    <th class="text-left">Endpoint</th>
                                    <th class="text-center">Type</th>
                                    <th class="text-center">Height</th>
                                    <th style="width: 250px;" nowrap class="text-left">Version</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var member in Model.SidechainNode.FederationMembers)
                                {
                                    <tr>
                                        <td class="text-left reveal-on-blur">@member.Endpoint</td>
                                        <td class="text-center">@member.Type</td>
                                        <td class="text-center">height:@member.Height</td>
                                        <td style="width: 250px;" nowrap class="text-left">agent:@member.Version</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            }
        </div>
    </div>

    @if (fiftyKOnlyFeature && Model.SidechainNode != null)
    {
        <div id="federationWalletHistorySidechainDiv">
            <partial name="FederationWalletHistory" model="Model.SidechainNode" />
        </div>
    }
</div>

<script type="text/javascript" src="~/js/sidechain_node_events.js"></script>